* {
  margin: 0%;
  padding: 0%;
  width: auto;
}

body {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}
 /* Estilos de la barra de navegacion */ 
.barra_oculta{
  display: none;
}

.barra_de_navegacion {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100px;
  box-shadow: 2px 0px 20px 2px lightgrey;
  padding-right: 10%;
  background-color:#f6f7fb;
  position: sticky;
  top: 0;  
}

.opciones {
  display: flex;
}

li{
  list-style: none;
  display: flex;
  padding: 4%;
  font-weight:400;
}

li a{
  color: black;
}

#contacto a{
  color: white;
}

#contacto {
  background-color: #A663CC;
  border-radius: 100px;
  border: none;
  color: white;
}

.barra_de_navegacion a:hover {
  color: blueviolet;
}

 /* Estilos seccion Principal*/ 
.principal {
  display: flex;
  padding: 100px 80px 170px;
}

.texto{
  width: 550px;
  padding-top: 80px;
}

.img_principal {
  align-self: center;
  max-width: 80%;
  padding-left: 150px;
}

.p_principal {
  font-size: 2em;
  padding-top: 60px;
  font-weight: 700;
  padding-bottom: 10px;
}

.h1_principal {
  font-size: 3em;
  font-weight: 900;
  color: #A663CC;
  padding-bottom: 25px;
}

.texto_principal {
  padding-bottom: 35px;
  font-weight: 400;
  font-size: 1.5em;
}

.boton {
  background-color: #A663CC;
  border-radius: 100px;
  color: white;
  padding: 15px 25px;
  font-weight: 600;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
}

/* Estilos seccion Conocimientos*/ 
#mis_conocimientos {
  background-color: #f6f7fb;
  display: flex;
  flex-direction: column;
  padding-bottom: 150px;
  justify-content: center;
  text-align: center;
}

.h1_conocimientos, .h1_proyectos{
  font-size: 3em;
  font-weight: 900;
  padding-top: 10%;
  padding-bottom: 2%;
}

.p_conocimientos, .p_proyectos {
  line-height: 1.4;
  font-weight: 300;
  max-width: 50%;
  padding: 2% 20% 3% 25%;
}

.habilidades {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-weight: 700;
  text-align: center;
  align-items: center;
}

.habilidades div {
  border: 1px solid #dddfe5;
  width: 260px;
  height: 150px;
  margin: 10px 10px;
  border-radius: 10px;
  background-color: white;
  padding: 30px;
  color: black;
  font-size: 20px;
}

.habilidades div:hover {
  color: blueviolet;
  border: 1px solid blueviolet;
}

.fa-html5 {
  color: #e54d26;
}
.fa-css3-alt {
  color: #3d8fc6;
}
.fa-sass {
  color: #c69;
}
.fa-js {
  color: #f0db4f;
}
.fa-react {
  color: #61dafb;
}
.fa-git-alt {
  color: #f34f29;
}
.icono {
  font-size: 80px;
  padding: 10px;
}

/* Estilos seccion Pensamiento*/ 
#pensamiento {
  background-color: #ac5cb5;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 20px;
}

.fa-quote-right {
  font-size: 110px;
  padding-top: 100px;
  padding-bottom: 50px;
}

#pensamiento p {
  width: 700px;
  text-align: center;
  line-height: 1.4;
  padding-bottom: 50px;
  font-weight: 300;
  font-size: 20px;
}

#pensamiento h2 {
  padding-bottom: 100px;
  font-weight: bolder;
  font-size: 30px;
  font-weight: 900;
}

/* Estilos seccion Proyectos*/ 
#mis_proyectos {
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 600;
}

.proyectos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.proyectos div {
  border: 1px solid #dddfe5;
  padding: 10px 10px;
  margin: 10px 10px;
  width: 300px;
  height: 300px;
  border-radius: 10px;
  font-weight: 600;
}

.proyectos div:hover {
  color: blueviolet;
  border: 1px solid blueviolet;
}

.img_tamaño {
  width: 250px;
  height: 210px;
  padding-bottom: 30px;
}

div #ultimo{
  margin-right: 51%;
}


/* Estilos seccion Formulario*/ 
.formulario {
  background-color: #f6f7fb;
  padding: 200px 100px;
}

.form {
  display: flex;
  justify-content: space-around;
  background-color: white;
  border-radius: 10px;
  border: 1px solid #dddfe5;
  line-height: 1.4; 
  padding: 0% 5% 7%;
}

.contactame{
  width: 40%;
}

.escribeme{
  width: 50%;
}

.textme{
  display: flex;
  justify-content: space-between;
}

.form h1 {
  padding-top: 80px;
  font-size: 45px;
  font-weight: 900;
  padding-bottom: 40px;
}

.redes {
  color: #8338ec;
}

.form a {
  color: black;
  margin: 15px;
}

#links {
  padding-top: 50px;
}

input{
  background-color: #f6f7fb;
  border: 2px solid #f6f7fb;
  border-radius: 20px;
  padding: 10px 15px;
  width: 100%;
}
label{
font-weight: 600;
}

textarea{
  background-color: #f6f7fb;
  border: 2px solid #f6f7fb;
  border-radius: 20px; 
  padding: 10px 15px; 
  width: 100%;
}

#enviar{
  padding: 20px 20px;
  background-color: #8338ec;
  border-radius: 100px;
  color: white;
  border: none;
  width: 30%;
}


/* Estilos seccion Footer */
.barra_footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #ac5cb5;
  font-weight: 600;
  color: white;
  height: 200px;
  padding: 80px 20px 60px;
}

.footer{
  width: 100%;
  display: flex;
  justify-content: center;
  padding-right: 6%;
}

#opciones_footer a{
  color: white; 
}

.icono_footer{
  color: #8e3e97;
  font-size: 30px;
  background-color: white;
  border-radius: 50%;
  padding: 20px 20px;
}

#nav-footer  {
  display: flex;
}

.barra_footer p {
  display: flex;
  justify-content: center;
}

.fa-heart{
  color: red;
} 



/* RESPONSIVE */

@media screen and (max-width: 1000px) {
  .barra_oculta {
    display: block;
  }
  .barra_de_navegacion{
      display: none;
  }
}
/* RESPONSIVE TAMAÑO MEDIANO (TABLETS) */
@media screen and (min-width: 450px) and (max-width:999px){
  #principal{
    flex-direction: column;
  }
  .form{
    flex-direction: column;
  }
 
 
}
/* RESPONSIVE TAMAÑO PEQUEÑO(MOBILE) */
@media screen and (min-width: 200px) and (max-width:449px){
  
 
 
}